[Unit]
Description=Kiwi Network LAN gateway routing ({{ hostname }})
Documentation=https://github.com/derlocke-ng/kiwi-server
{% if runtime == 'docker' %}
After=docker.service kiwi-stack.service network-online.target
Requires=docker.service
{% else %}
# podman: the containers are systemd units themselves; kiwi-stack.service starts their target
After=kiwi-stack.service network-online.target
{% endif %}
Wants=kiwi-stack.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash {{ docker_dir }}/kiwi/gw.sh start
ExecStop=/usr/bin/bash {{ docker_dir }}/kiwi/gw.sh stop

[Install]
WantedBy=multi-user.target
