# portainer
services:
  {{ container_prefix }}-portainer:
    image: {{ image }}
    container_name: {{ container_prefix }}-portainer
    ports:
      - "127.0.0.1:9443:9443"
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      {{ network_name }}:
        ipv4_address: {{ container_ip }}
    logging:
      driver: json-file
      options:
        max-size: 10m

volumes:
  portainer_data:
    name: portainer_data
